.card {
 float: left;
 margin-left: 170px;
 margin-top: 1px;	
	
}

.title {
	font-family: Heather;
	font-style: italic;
    font-size: 40px;
	text-align: center;
	color: red;
	
	}

.title2 {
	font-size:20px;
	margin-left:160px;
	color:white;
}